* {
	box-sizing: border-box;
}

body {
	background: #DADADA;
	font-style: bold;
	color:white;
	font-size: 2em;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
	border: solid black 5px;
}

.circle{
	top: 300px;
	left: 400px;
	width: 200px;
	height: 200px;
	background: white;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px black inset;
	transform: scale(0.8);
}

.circle1{
	top: 350px;
	left: 420px;
	width: 200px;
	height: 200px;
	background: white;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px black inset;
	transform: scale(0.8);
}

.circle2{
	top: 325px;
	left: 520px;
	width: 200px;
	height: 200px;
	background: white;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px black inset;
	transform: scale(0.8);
}

.circle3{
	top: 325px;
	left: 610px;
	width: 200px;
	height: 200px;
	background: white;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px black inset;
	transform: scale(0.8);
}

.circle4{
	top: 290px;
	left: 520px;
	width: 200px;
	height: 200px;
	background: white;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px black inset;
	transform: scale(0.8);
}


.egg {
      display: block;
      width: 36px;
      height: 60px;
      background-color: orange;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      top: 260px;
	left: 570px;
	position: fixed;
	animation: flicker 1s infinite alternate;
    }

@keyframes flicker {
	from {height: 60px;
		background-color: orange;
	}
	to {height: 65px;
		background-color: yellow;
	}
}

.egg:hover {
      display: block;
      width: 36px;
      height: 60px;
      background-color: orange;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      top: 260px;
	left: 570px;
	position: fixed;
	animation: flicker 0.1s infinite alternate;
    }


.egg2 {
      display: block;
      width: 150px;
      height: 200px;
      background-color: green;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      top: 360px;
	left: 570px;
	position: fixed;
	box-shadow:-20px -20px 50px 10px black inset;
    }


   .ball{
   	top: 160px;
	left: 520px;
	width: 200px;
	height: 200px;
	background: yellow;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px black inset;
	transform: scale(0.3);
   }

      .ball1{
   	top: 140px;
	left: 420px;
	width: 200px;
	height: 200px;
	background: yellow;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px black inset;
	transform: scale(0.3);
   }

   .ball2{
   	top: 205px;
	left: 465px;
	width: 200px;
	height: 200px;
	background: yellow;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px black inset;
	transform: scale(0.3);
   }

      .ball3{
   	top: 210px;
	left: 640px;
	width: 200px;
	height: 200px;
	background: yellow;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px black inset;
	transform: scale(0.3);
   }

   .table{
   	width: 890px;
   	height: 156px;
   	background-color: grey;
   	top: 495px;
   	position: fixed;

   }

      .table2{
   	width: 890px;
   	height: 256px;
   	background-color: grey;
   	top: 395px;
   	position: fixed;

   }


   .shadow {
      display: block;
      width: 170px;
      height: 30px;
      background-color: grey;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      top: 540px;
	left: 600px;
	position: fixed;
	box-shadow:-20px -20px 50px 10px black inset;
	opacity: 80%;
    }

.book {
      display: block;
      width: 180px;
      height: 240px;
      background-color: black;
      top: 330px;
	left: 820px;
	position: fixed;
    }

    .book:hover {
      display: block;
      width: 180px;
      height: 240px;
      background-color: black;
      top: 330px;
	left: 820px;
	position: fixed;
filter: invert(0.9);
transition: filter 2s ease;
    }

    .container{
    	position: fixed;
    	top: 380px;
		left: 880px;
    }

        .container:hover{
    	position: fixed;
    	top: 380px;
		left: 880px;
		filter: blur(8px);
    }


.shadow2 {
      display: block;
      width: 470px;
      height: 60px;
      background-color: black;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      top: 480px;
	left: 460px;
	position: fixed;
	box-shadow:-20px -20px 50px 10px black inset;
	opacity: 80%;
    }

.curvestem{
	width: 130px;
	height: 130px;
	border: solid 5px;
	border-color: transparent brown transparent transparent;
	border-radius: 100px 100px 100px;
	transform: rotate(-40deg);
	top: 300px;
	left: 520px;
	position: fixed;
}

.curvestem2{
	width: 130px;
	height: 130px;
	border: solid 5px;
	border-color: brown transparent transparent transparent;
	border-radius: 100px 100px 100px;
	transform: rotate(-40deg);
	top: 310px;
	left: 640px;
	position: fixed;
}

.curvestem3{
	width: 230px;
	height: 230px;
	border: solid 5px;
	border-color: transparent brown transparent transparent;
	border-radius: 100px 100px 100px;
	transform: rotate(-40deg);
	top: 240px;
	left: 405px;
	position: fixed;
}

.egg3 {
      display: block;
      width: 40px;
      height: 30px;
      background-color: green;
      top: 340px;
	left: 625px;
	position: fixed;
	box-shadow:-3px 0px 3px 0px black inset;
    }

    .circle:hover {
	top: 300px;
	left: 400px;
	width: 200px;
	height: 200px;
	background: white;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px blue inset;
	transform: scale(0.8);
	transition: box-shadow 2s ease;
}

.circle1:hover {
	top: 350px;
	left: 420px;
	width: 200px;
	height: 200px;
	background: white;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px blue inset;
	transform: scale(0.8);
	transition: box-shadow 2s ease;
}

.circle2:hover {
	top: 325px;
	left: 520px;
	width: 200px;
	height: 200px;
	background: white;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px blue inset;
	transform: scale(0.8);
	transition: box-shadow 2s ease;
}

.circle3:hover {
	top: 325px;
	left: 610px;
	width: 200px;
	height: 200px;
	background: white;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px blue inset;
	transform: scale(0.8);
	transition: box-shadow 2s ease;
}

.circle4:hover {
	top: 290px;
	left: 520px;
	width: 200px;
	height: 200px;
	background: white;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px blue inset;
	transform: scale(0.8);
	transition: box-shadow 1s ease;
}

   .ball:hover {
   	top: 160px;
	left: 520px;
	width: 200px;
	height: 200px;
	background: magenta;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px black inset;
	transform: scale(0.3);
	opacity: 0.2;
   }

      .ball1:hover {
   	top: 140px;
	left: 420px;
	width: 200px;
	height: 200px;
	background: magenta;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px black inset;
	transform: scale(0.3);
	opacity: 0.2;
   }

   .ball2:hover {
   	top: 205px;
	left: 465px;
	width: 200px;
	height: 200px;
	background: magenta;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px black inset;
	transform: scale(0.3);
	opacity: 0.2;
   }

      .ball3:hover {
   	top: 210px;
	left: 640px;
	width: 200px;
	height: 200px;
	background: magenta;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px black inset;
	transform: scale(0.3);
	opacity: 0.2;
   }

   .head{
	top: 450px;
	left: 400px;
	width: 180px;
	height: 120px;
	background: white;
	border-radius: 50%;
	position: fixed;
	box-shadow:-20px -20px 50px 10px black inset;
	animation: bobble 2s infinite alternate;
}

   @keyframes bobble {
	0% {transform: rotate(-30deg);

}
	100% {transform: rotate(30deg);


}

