@import url();

body {
	font-size: 5em;
	font-family: helvetica;
	transition: font-size 2s;
}

.container{
	flex-wrap: nowrap;
	width: 5000px;
}

/* Text
-------------------------------------------------- */
.block{
width: 5000px;
height: 80px;
background-color: black;
position: relative;
transition: width 2s;
}

.blockY{
width: 5000px;
height: 80px;
background-color: yellow;
position: relative;
transition: width 2s;
}


/* Image
-------------------------------------------------- */



/* iPad 
-------------------------------------------------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


  /* text */

  /* image */

}

/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 968px) {

body{
font-size: 3em;
}
  /* text */
.block{
width: 80px;
height: 80px;
background-color: black;
position: relative;
}

.blockY{
width: 500px;
height: 80px;
background-color: yellow;
position: relative;
transition: width 2s;
}


}


@media screen and (max-width: 568px) {


body{
font-size: 2em;
}
  /* text */
.block{
width: 568px;
height: 80px;
background-color: black;
position: relative;
}

.blockY{
width: 180px;
height: 80px;
background-color: yellow;
position: relative;
transition: width 2s;
}


}

