body {
	background: #00000;
	cursor: crosshair;
}

h1{
	font-family: helvetica;
}



.block{
width: 20px;
height: 80px;
background-color: black;
position: relative;
animation: spin 7s linear infinite normal;
animation-play-state: paused;
}

.block:hover{
width: 20px;
height: 80px;
background-color: blue;
position: relative;
animation: spin 7s linear infinite normal;
animation-play-state: running;
}

@keyframes spin {
	0% {transform: rotate(0deg);
}
	100% {transform: rotate(360deg);
}
}

@keyframes spin1 {
	0% {transform: rotate(135deg);
}
	100% {transform: rotate(495deg);
}
}

.blocklong{
width: 20px;
height: 160px;
background-color: black;
position: relative;
animation: spin 8s linear infinite normal;
animation-play-state: paused;
}

.blocklong:hover{
width: 20px;
height: 160px;
background-color: blue;
position: relative;
animation: spin 8s linear infinite normal;
animation-play-state: running;
}

.space{
width: 20px;
height: 80px;
background-color: transparent;
position: relative;
}

.square{
	width: 80px;
height: 80px;
background-color: blue;
position: relative;
}

/*.circle{
	width: 80px;
height: 80px;
background-color: black;
position: relative;
border-radius: 50%;
}*/

.circle {
    background-color:transparent;
    border:20px solid black;    
    height:40px;
    border-radius:50%;
    width:40px;
    position: relative;
}

.circle:hover {
    background-color:transparent;
    border:20px solid blue;    
    height:40px;
    border-radius:50%;
    width:40px;
    position: relative;
}

.stretchcontainer{
	width: 10px;
	height: 30px;
	position: relative;
}

.circlestretch {
    background-color:transparent;
    border:20px solid black;    
    height:40px;
    border-radius:50%;
    width:120px;
    position: relative;
    clip-path: inset(0px 80px 0px 0px);
    animation: spin 8s linear infinite normal;
	animation-play-state: paused;
}

.circlestretch:hover {
    background-color:transparent;
    border:20px solid blue;    
    height:40px;
    border-radius:50%;
    width:120px;
    position: relative;
    clip-path: inset(0px 80px 0px 0px);
    animation: spin 8s linear infinite normal;
	animation-play-state: running;
}

.circlebig {
    background-color:transparent;
    border:20px solid red;    
    height:120px;
    border-radius:50%;
    width:120px;
    position: relative;
}

.circlebigcut {
    background-color:transparent;
    border:20px solid;
    border-color: transparent transparent transparent purple;    
    height:120px;
    border-radius:50%;
    width:120px;
    position: relative;
    transform: rotate(45deg);
}

.circlestretchcut {
    background-color: transparent;
    border:20px solid;
    width:120px;    
    height:40px;
    border-radius:50%;
    border-color: purple transparent transparent purple;
    position: relative;    
}

.circlecut {
    background-color:transparent;
    border:20px solid;    
    height:40px;
    border-radius:50%;
    width:40px;
    position: relative;
    border-color: black transparent transparent black;    
    transform: rotate(135deg);
    animation: spin1 5s linear infinite normal;
	animation-play-state: paused;
}

.circlecut:hover {
    background-color:transparent;
    border:20px solid;    
    height:40px;
    border-radius:50%;
    width:40px;
    position: relative;
    border-color: blue transparent transparent blue;    
    transform: rotate(135deg);
    animation: spin1 5s linear infinite normal;
	animation-play-state: running;
}

circle {
  fill: transparent;
  stroke: black;
  stroke-width: 20;
}

.container{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    height: 160px;
    padding: 20px;
/*    align-items: bottom;
*/    justify-content: baseline;

}

.dot{
    background-color:magenta; 
    height:20px;
    border-radius:50%;
    width:20px;
    position: relative;
}


