

body{
font-size: 50px;
}

.container1{
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.triangle-down {
  /*position: fixed;*/
  width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid black;
      border-bottom: 100px solid transparent;

    }

.triangle-up {
  width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid transparent;
      border-bottom: 100px solid black;
    }
