body{
background-color: black;
}

.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 250px;
}

.containerer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	top: 20px;
	position: relative;
}

.containerer:active{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	top: 20px;
	position: relative;
	filter: invert(100%);
}

	.square { /*blue*/
	width: 20px;
	height: 20px;
	background: blue;
	position: relative;
	transition: filter 5s;
    transition-timing-function: ease-out;
    filter: blur(15px);
}
    	.square:hover { /*white*/
	width: 20px;
	height: 20px;
	background: white;
	position: relative;
	transition: width 2s;
    filter: blur(0px);
    cursor: all-scroll;
    }
