body{
font-size: 50px;
}

.container{ /*scrolling*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.container1 { /*fixed*/
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.triangle-down { /*triangle scrolling*/
  width: 0;
      height: 0;
      border-left: 50px solid blue;
      border-right: 0px solid transparent;
      border-top: 100px solid transparent;
            opacity: 0.5;
    }

  .triangle-down:hover { /*triangle scrolling*/
  width: 0;
      height: 0;
      border-left: 50px solid red;
      border-right: 0px solid transparent;
      border-top: 100px solid yellow;
            opacity: 0.8;
    }

.triangle-up { /*triangle fixed*/
  width: 0;
      height: 0;
      border-left: 50px solid magenta;
      border-right: 0px solid transparent;
      border-top: 100px solid transparent;
      opacity: 0.8;
    }





.containerfixed{
position: fixed;
margin-left: 200px;
margin-top: 100px;
}

.sun{
	width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%
}