body{
font-size: 50px;
/*background-color: black;
filter: invert(100%);*/
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	position: relative;
}

.containerfixed{
display: flex;
flex-direction: column;
flex-wrap: wrap;
position: fixed;
justify-content: center;
align-items: center
width:200px;
left: 306px;
bottom: 100px;
cursor: zoom-in;
}

.containerscroll{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	left: 434px;
	position: relative;
	top: -150px;
	cursor: zoom-in;
	width: 100px;
}

.circle { /*cyan*/
	width: 100px;
	height: 100px;
	background: cyan;
	border-radius: 50%;
	position: relative;
	transition: width 2s;
	transition: height 2s;
    transition-timing-function: ease-out;
    opacity: 0.75;
    mix-blend-mode: multiply;

    }

.circle:hover { /*cyan*/
	width: 300px;
	height: 100px;
	background: cyan;
	border-radius: 50%;
	transition: transform 1.5s;
	mix-blend-mode: multiply;
	transform: scale(1.2,1.2);
    }

.circle:active { /*cyan*/
	width: 600px;
	height: 600px;
	background: cyan;
	border-radius: 50%;
	transition: transform 1.5s;
	transition: height 2s;
	mix-blend-mode: multiply;
	filter: invert(100%);
    }

.circle1 { /*magenta*/
	width: 100px;
	height: 100px;
	background: magenta;
	border-radius: 75%;
	position: relative;
	transition: transform 1.5s;
	transition: width 2s;
    transition-timing-function: ease-out;
    opacity: 0.75;
    mix-blend-mode: multiply;
    }

.circle1:hover { /*magenta*/
	width: 300px;
	height: 100px;
	background: magenta;
	border-radius: 75%;
	position: relative;
	transition: transform 1.5s;
    transition-timing-function: ease-out;
    opacity: 0.75;
    mix-blend-mode: multiply;
    transform: scale(1.2,1.2);
    }

    .circle1:active { /*magenta*/
	width: 600px;
	height: 600px;
	background: magenta;
	border-radius: 50%;
	transition: transform 1.5s;
	transition: height 2s;
	mix-blend-mode: multiply;
	filter: invert(100%);
    }

.circle2 { /*yellow*/
	width: 100px;
	height: 100px;
	background: yellow;
	border-radius: 50%;
	position: relative;
	transition: transform 1.5s;
	transition: width 2s;
    transition-timing-function: ease-out;
    opacity: 0.75;
    mix-blend-mode: multiply;
    }

.circle2:hover { /*yellow*/
	width: 300px;
	height: 100px;
	background: yellow;
	border-radius: 50%;
	position: relative;
	transition: transform 1.5s;
	transition-timing-function: ease-out;
	opacity: 0.75;
	mix-blend-mode: multiply;
	transform: scale(1.2,1.2);
    }

    .circle2:active { /*yellow*/
	width: 600px;
	height: 600px;
	background: yellow;
	border-radius: 50%;
	transition: transform 1.5s;
	transition: height 2s;
	mix-blend-mode: multiply;
	filter: invert(100%);
    }

.circle3 { /*black*/
	width: 100px;
	height: 100px;
	background: black;
	border-radius: 50%;
	position: relative;
	transition: transform 1.5s;
	transition: width 2s;
    transition-timing-function: ease-out;
    opacity: 0.75;
    mix-blend-mode: multiply;
    }

.circle3:hover { /*black*/
	width: 300px;
	height: 100px;
	background: black;
	border-radius: 50%;
	position: relative;
	transition: transform 1.5s;
    transition-timing-function: ease-out;
    opacity: 0.75;
    mix-blend-mode: multiply;
    transform: scale(1.2,1.2);
    }

.circle3:active { /*black*/
	width: 600px;
	height: 600px;
	background: black;
	border-radius: 50%;
	transition: transform 1.5s;
	transition: height 2s;
	mix-blend-mode: exclusion;
	filter: invert(100%);
    }

.colorwheel{
	display: flex;
	right: 300px;
	top: 150px;
	position: fixed;
}

.colorwheel:hover{
	display: flex;
	right: 300px;
	top: 150px;
	position: fixed;
	cursor: progress;
}

.colorwheel:active{
	display: flex;
	right: 300px;
	top: 150px;
	position: fixed;
	transform: rotate(180deg);
	transition: transform 3s;
	mix-blend-mode: exclusion;
}

.red{
	width: 300px;
	height: 200px;
	background: red;
	mix-blend-mode: multiply;
	opacity: 0.9;
}

.red:hover{
	width: 300px;
	height: 200px;
	background: red;
	mix-blend-mode: multiply;
	opacity: 0.9;
	transform: translate(400px);
	transition: transform 3s;
}

.green{
	width: 300px;
	height: 200px;
	background: green;
	mix-blend-mode: multiply;
	opacity: 0.9;
}
.green:hover{
	width: 600px;
	height: 200px;
	background: green;
	mix-blend-mode: multiply;
	opacity: 0.9;
	transition: width 3s;
}

.blue{
	width: 300px;
	height: 200px;
	background: blue;
	mix-blend-mode: multiply;
	opacity: 0.9;
}

.blue:hover{
	width: 400px;
	height: 200px;
	background: blue;
	mix-blend-mode: multiply;
	opacity: 0.9;
	transform: translate(-400px);
	transition: transform 3s;
	}