body{
		background: rgba(255,71,197,1);
}

.containerfixed{
	position:fixed;
	display:flex;
}

.container-1{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	margin-top:-50px;

}

.container-2{
	display:flex;
	position:relative;
	flex-direction:row;
	flex-wrap:nowrap;
	margin-top:-50px;
	transform: translateX(-50px);
}

.container-3{
	display:flex;
	position:relative;
	flex-direction:row;
	flex-wrap:nowrap;
	margin-top:-50px;
	transform: translateX(-100px);
}


.container-4{
	display:flex;
	position:relative;
	flex-direction:row;
	flex-wrap:nowrap;
	margin-top:-50px;
	transform: translateX(-150px);
}



.circle-1{
	width:100px;
	height:100px;   
	background: rgba(255,71,197,1);
	background: -moz-linear-gradient(left, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,71,197,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff47c5', endColorstr='#ffffff', GradientType=1 );
	border-radius: 50%;
    display:inline-block;
    margin-right: -25px;
    opacity: 0.5;
    transition: background 1s;
}

.circle-1:hover{
	width:100px;
	height:100px;   
	background: rgba(255,71,197,1);
	background: -moz-linear-gradient(left, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,71,197,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff47c5', endColorstr='#ffffff', GradientType=1 );
	border-radius: 50%;
    display:inline-block;
    margin-right: -25px;
    opacity: 1;
    background-position: 100px;
    transition: width 2s;
    cursor: not-allowed;
    mix-blend-mode: multiply;
}

.circle-1:active{
	width:100px;
	height:100px;   
	background: rgba(255,71,197,1);
	background: -moz-linear-gradient(left, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,71,197,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff47c5', endColorstr='#ffffff', GradientType=1 );
	border-radius: 50%;
    display:inline-block;
    margin-right: -25px;
    opacity: 1;
    background-position: 100px;
    transition: width 2s;
	filter: invert(100%);
	transform: scale(10,10);
	mix-blend-mode: multiply;
	transition: transform 2s;
	cursor: not-allowed;
}

.circle-2{
	width:100px;
	height:100px;   
	background: rgba(255,71,197,1);
	background: -moz-linear-gradient(top, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,71,197,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff47c5', endColorstr='#ffffff', GradientType=0 );
	border-radius: 50%;
    display:inline-block;
    margin-right: -25px;
    opacity: 0.5;
    transition: background 1s;
}

.circle-2:hover {
	width:100px;
	height:100px;   
	background: rgba(255,71,197,1);
	background: -moz-linear-gradient(top, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,71,197,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff47c5', endColorstr='#ffffff', GradientType=0 );
	border-radius: 50%;
    display:inline-block;
    margin-right: -25px;
    opacity: 1;
    background-position: 100px;
    transition: width 2s;
    cursor: progress;
    mix-blend-mode: multiply;
}


.circle-2:active {
	width:100px;
	height:100px;   
	background: rgba(255,0,0);
	border-radius: 50%;
    display:inline-block;
    margin-right: -25px;
    opacity: 1;
    background-position: 100px;
    transition: width 2s;
    filter: invert(100%);
	transform: scale(10,10);
	mix-blend-mode: multiply;
	transition: transform 2s;
	cursor: progress;
}

.circle-3{
	width:100px;
	height:100px;
	background: rgba(255,71,197,0.5);
	background: -moz-linear-gradient(-45deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,71,197,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(135deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff47c5', endColorstr='#ffffff', GradientType=1 );   
	border-radius: 50%;
    display:inline-block;
    margin-right: -25px;
    opacity: 0.9;
    transition: background 1s;
}

.circle-3:hover{
	width:100px;
	height:100px;
	background: rgba(255,71,197,0.5);
	background: -moz-linear-gradient(-45deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,71,197,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(135deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff47c5', endColorstr='#ffffff', GradientType=1 );   
	border-radius: 50%;
    display:inline-block;
    margin-right: -25px;
    opacity: 1;
    background-position: 100px;
    transition: width 2s;
    cursor: zoom-in;
    mix-blend-mode: multiply;
}

.circle-3:active{
	width:100px;
	height:100px;
	background: rgba(0,255,0);   
	border-radius: 50%;
    display:inline-block;
    margin-right: -25px;
    opacity: 1;
    background-position: 100px;
    transition: width 2s;
    cursor: zoom-in;
	transform: scale(10,10);
	mix-blend-mode: multiply;
	transition: transform 2s;
	filter: invert(100%);
}

.circle-4{
	width:100px;
	height:100px;   
	border-radius: 50%;
	background: rgba(255,71,197,0.5);
	background: -moz-linear-gradient(45deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,71,197,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(45deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(45deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(45deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff47c5', endColorstr='#ffffff', GradientType=1 );
    display:inline-block;
    margin-right: -25px;
    opacity: 0.7;
    transition: background 1s;
}

.circle-4:hover{
	width:100px;
	height:100px;   
	border-radius: 50%;
	background: rgba(255,71,197,0.5);
	background: -moz-linear-gradient(45deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,71,197,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(45deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(45deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(45deg, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff47c5', endColorstr='#ffffff', GradientType=1 );
    display:inline-block;
    margin-right: -25px;
    opacity: 1;
    background-position: 100px;
    transition: width 2s;
    cursor: pointer;
    mix-blend-mode: multiply;
}

.circle-4:active{
	width:100px;
	height:100px;   
	border-radius: 50%;
	background: rgba(0,0,255);
    display:inline-block;
    margin-right: -25px;
    opacity: 1;
    background-position: 100px;
    transition: width 2s;
    cursor: pointer;
    filter: invert(100%);
	transform: scale(10,10);
	mix-blend-mode: multiply;
	transition: transform 2s;
}

.circle-5{
	width:400px;
	height:400px;   
	background: rgba(255,71,197,0.9);
	background: -moz-linear-gradient(left, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,71,197,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,71,197,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff47c5', endColorstr='#ffffff', GradientType=1 );
	border-radius: 50%;
    display:inline-block;
    margin-left: 150px;
    margin-top: 100px;
    mix-blend-mode: exclusion;
}
